@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {margin: 0;padding: 0;box-sizing: border-box;font-family: 'Poppins', sans-serif;}

body {display: grid;place-items: center;min-height: 100vh;background-color: #667f9b;}

.clock {display: flex;align-items: center;justify-content: center;flex-direction: column;}

.analog {background-color: #7224bfba;box-shadow: 0 0 .5rem rgba(0, 0, 0, .2);width: 200px;aspect-ratio: 1;border-radius: 50%;position: relative;}

.num {position: absolute;left: 50%;top: 50%;height: 95%;z-index: 50;transform: var(--rotation);color: #ffe1e1;}

.hours-needle,
.minutes-needle,
.seconds-needle {position: absolute;width: 4px;height: 50px;border-radius: 100vw;background-color: #ff0000;transform-origin: bottom;top: 50%;left: 50%;transform: translate(-50%, -100%) rotate(90deg);z-index: 3;}

.hours-needle{background-color: #fff;}

.minutes-needle {height: 60px;background-color: #fff;transform: translate(-50%, -100%) rotate(45deg);z-index: 2;}

.seconds-needle {height: 70px;background-color: #red;transform: translate(-50%, -100%) rotate(0);z-index: 999;}

.dot {width: 10px;aspect-ratio: 1;background-color: #161616;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);border-radius: 50%;z-index: 5;}

.digital {text-align: center;margin-top: 6rem;font-size: 2.8rem;background-color: #fff;box-shadow: 0 0 .5rem rgba(0, 0, 0, .2);padding: .5rem 2rem;border-radius: 0.5rem;width: 350px;color: red;}

.digital span{color: red !important;}

.seconds {color: aqua;}